#terms:target,
#terms:target * {
  background: #deebff;
}

#terms {
  display: grid;
  gap: 12px;
  padding: 24px;

  border: 2px solid #cccccc;
  border-radius: 8px;

  & p:first-child {
    color: #0747a6;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  font-weight: 400;
  color: rgb(102, 102, 102);
}

body {
  width: 600px;
  margin-inline-end: auto;
  margin-inline-start: auto;

  margin-top: 64px;
  margin-bottom: 64px;

  background-color: #cfcfcf;
}

main {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 32px;
}

input:empty {
  border-color: black;
}

input:focus {
  border-color: #0065ff;
}

input:invalid {
  border-color: red;
}

input {
  font-size: 1rem;

  display: block;
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 8px;
}

label {
  display: flex;
  gap: 8px;
}

ul {
  display: grid;
  gap: 12px;
  list-style: none;
}

ul li::before {
  content: "♣";
  display: inline-block;
  width: 1em;
}

ul li:nth-child(2n + 1) {
  color: #5e6c84;
}

a:link {
  color: #0052cc;
}

a:visited {
  color: rgb(107, 40, 107);
}

a:hover {
  color: #0065ff;
}

a:active {
  color: darkblue;
}

span {
  color: black;
}

button:hover {
  background-color: #0065ff;
}

button {
  cursor: pointer;

  background-color: #0052cc;
  border-radius: 8px;
  padding: 8px;
  border: none;

  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 700;
}

em {
  font-size: 0.8rem;
}

.heading {
  display: grid;
  gap: 16px;

  padding-bottom: 20px;
  border-bottom: 2px solid #cccccc;
}

.title {
  font-weight: 700;
}

.content {
  margin-top: 32px;
  display: grid;
  gap: 20px;

  .user-information {
    display: grid;
    gap: 8px;
  }
}

.inputs-container {
  display: grid;
  gap: 12px;
}
